<p>Esta es la Pagina de Productos</p>
<nav>
    <ul>
      <li><a href="/gorras">Gorras</a></li>
      <li><a href="/remeras">Remeras</a></li>
      <li><a href="/abrigos">Abrigos</a></li>
    </ul> 
  </nav>
<p>Aca van los Abrigos</p>